<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SyncPro.Properties.Settings.SyncProDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SyncProDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SyncPro.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>syncpro.com</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SPECIAL_CHARACTER" serializeAs="String">
                <value>!@#$%^&amp;*()-_+=&lt;&gt;?.</value>
            </setting>
            <setting name="LOWER_CASE" serializeAs="String">
                <value>abcdefghijklmnopqursuvwxyz</value>
            </setting>
            <setting name="UPPER_CASE" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
            </setting>
            <setting name="NUMBERIC" serializeAs="String">
                <value>1234567890</value>
            </setting>
            <setting name="LowerCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumericCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpacialCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterPath" serializeAs="String">
                <value>product_code.json</value>
            </setting>
            <setting name="BackupFilePath" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="RememberedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedUsernames" serializeAs="String">
                <value />
            </setting>
        </SyncPro.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>